.main{
    gap: unset;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.main-mars::before {
    content: "";
    position: absolute;
    top: 25%;
    left: 40%;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
    background-size: 100%;
    background-image: url("../../../public/pics/main_mars.png");
    height: 150%;
    transform: rotate(-100deg);
    transition: all 0.5s ease;
}
/*TODO move margin-left somewhere above*/
.main__title {
    font-size: 68px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 6px;
    text-transform: uppercase;
    width: 873px;
    height: 169px;
}
.main__schedule,
.main__header {
    align-self: flex-start;
    margin-left: 5%;
}