.schedule {
    border-radius: 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
}
.schedule__title {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
    text-transform: uppercase;
}