.form-input-2 {
    border-radius: 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.01);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    padding: 0% 2%;
    color: white;
}
.form-input-2 {
    width: 45vw;
    height: 7vh
}
.form-input-2 {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 142.857%;
    text-transform: uppercase;
    color: grey;
}
